body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

main h1{
    text-align: center;
}

fieldset {
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
}

p {
    line-height: 2em;
}

fieldset legend {
    font-size: large;
    text-align: center;
    font-weight: bold;
}

#data input {
    border-radius: 10px;
}

#data label {
    display: inline-block;
    width: 120px;
    text-align: left;
}

.btn {
    background-color: white;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

th, td {
    border: 1px solid black;
}

table {
    display: inline-block;
    font-size: small;
    border: 1px solid black;
}
